.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1em;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.menu-toggle span {
  background-color: white;
  height: 4px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr auto;
  }

  .nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
  .logo {
    font-size: 20px;
  }
}
